/* Format der Druckausgabe */
@page {
	size: 21cm 29.7cm;
	margin-top: 2cm;
	margin-bottom: 3cm;
	margin-left: 2cm;
	margin-right: 2cm;
}


/* Allgemeine Style Definitionen (für Screen und Print) */
table, th, td {
	border: 1px solid;
}

table {
	table-layout: auto;
	border-collapse: collapse;

}

td {
	text-align: center;
}

th {
	text-align: center;
}

a:link {color: blue} 
a:visited {color: purple} 
a:focus {}
a:hover {}
a:active {color: red; font-wight: bold} 

/*
 * Gerät spezifische Definition
 */
 
/* Style Definitionen für Screen */
@media screen {
	p, td, tr, h1, h2, h3, h4, h5, h6, h7 {
		font-family: "times", serif;
	}
}

/* Style Definitionen für Print */
@media print {
	p {
		font-family: "arial", times, serif;
	}
}